.button {
  color: white;
  border: 2px solid white;
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: lighter;
  background: none;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background: pink;
}
